@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";

:root {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #FFFFFF;
  --primary1: #363738;
  --secondary: #F5F5F5;
  --secondary1: #FEFAF1;
  --bg: #FFFFFF;
  --button-bg: #DB4444;
  --hover-button-bg: #E07575;
  --button-text: #FAFAFA;
  --hover-button1: #A0BCE0;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;
}
